{
        email alexbissessur@gmail.com
        http_port 8080
        https_port 8443

        layer4 {
                :443 {
                        @tls tls
                        route @tls {
                                proxy {
                                        proxy_protocol v2
                                        upstream root-towonel-1:4443
                                }
                        }
                }
                :80 {
                        @http http
                        route @http {
                                proxy {
                                        proxy_protocol v2
                                        upstream root-towonel-1:8081
                                }
                        }
                }
                :6443 {
                        @tls tls
                        route @tls {
                                proxy {
                                        # proxy_protocol v1
                                        upstream dyn.alexbissessur.dev:6443
                                }
                        }
                }
        }

        servers :8443 {
                listener_wrappers {
                        proxy_protocol {
                                timeout 2s
                                allow 127.0.0.1/32
                        }
                        tls
                }
        }
        servers :8080 {
                listener_wrappers {
                        proxy_protocol {
                                timeout 2s
                                allow 127.0.0.1/32
                        }
                }
        }
}

